{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next$",
    "^next/\\w*$",
    "^next/(.*)$",
    "^next-auth/(.*)$",
    "^react$",
    "^react/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^@/public/(.*)$",
    "^[./]"
  ]
}
